* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(11, 11, 36);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 66);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(153, 63, 236);
  font-size: 1.02rem;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 110px 0;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 2.3rem;
}

.rightsection img {
  width: 85%;
}
.purple {
  color: rgb(166, 91, 237);
}
#element {
  color: rgb(166, 91, 237);
}
.secondsection {
  max-width: 80vw;
  margin: auto;
  
}
main hr {
  border: 0px;
  background-color: rgb(157, 75, 235);
  height: 1.2px;
  margin: 30px 84px;
}
.secondsection h1{
    font-size: 1.9rem;
}
.gray{
    color: gray;
}
.secondsection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
}

